@font-face {
	font-family: "National Park";
	src: url(../fonts/NationalPark-Regular.woff);
}

@font-face {
	font-family: "National Park";
	src: url(../fonts/NationalPark-Bold.woff);
	font-weight: bold;
}

@font-face {
	font-family: "Sunsive";
	src: url(../fonts/Sunsive-ExtraBold.ttf);
} 