.container {
	padding: 2rem 6rem;
}

.hero-container {
	display: flex;	
}

.hero {	
	width: 85%;
}

.hero-img {	
	width: 223px;
	height: 250px;
	margin: 2em 0 0 2em;	
}

.svg-container {	
	margin: 1em auto;			
	transform: rotate(15deg);
	width: 220px; 
	height: 100px; 
  }
  
  .svg-container svg {
	width: 100%; 
	height: auto;
  }
  