.container {
	padding: 2rem 6rem;
}

.hero-container {
	display: flex;
}

.hero {	
	flex-grow: 1;
}

.hero-img {	
	width: 280px;
	height: 315px;
	margin: 1em;
}

.svg-container {	
	margin: 0 auto;
	width: 200px; /* Adjust width */
	height: 100px; /* Adjust height */
  }
  
  .svg-container svg {
	width: 100%; 
	height: auto;
  }
  