@import "variables";
@import "fonts";
@import "index";
@import "nav";
@import "footer";
@import "work";
@import "about";
@import "scrollbar";
@import "mobile";
@import "tablet";


* {
	box-sizing: border-box;
}

body {
	background-color: var(--color-background);
	color: var(--color-foreground);
	font-family: $body_font;
	transition: 0.5s ease-in;
}

p {
	line-height: 1.8;
	font-size: clamp(0.95rem, calc(0.95rem + ((1vw - 0.48rem) * 0.2083)), 1.1rem);
	min-height: 0vw;
}

a {
	color: var(--color-accent);
	text-decoration: var(--color-foreground) wavy underline;
	text-underline-offset: 5px;

	&:hover {
		text-shadow: 0 0 15px var(--color-accent);
	}
}

h1,
h2 {
	font-family: $header-font;
	background: linear-gradient(to right, var(--color-foreground), var(--color-accent));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

p:first-child {
	margin-top: 0px;
}

.page-title {
	text-transform: uppercase;
}