@import "variables";
@import "fonts";
@import "mixins";
@import "index";
@import "nav";
@import "footer";
@import "work";
@import "about";
@import "scrollbar";
@import "contact";
@import "mobile";
@import "tablet";

* {
	box-sizing: border-box;
}

body {
	background-color:$bg-color;
	color: $fg-color;
	font-family: $body_font;
	transition: 0.5s ease-in;
}

p {
	line-height: 1.8;
	font-size: clamp(0.9rem, calc(0.9rem + ((1vw - 0.48rem) * 0.2083)), 1rem);
	min-height: 0vw;
	@include selection($a-color,$bg-color);
}

a {
	color: $a-color;
	text-decoration: $fg-color wavy underline;
	text-underline-offset: 5px;
	@include selection($a-color,$bg-color);
	&:hover {
		text-shadow: 0 0 15px $a-color;
	}
}

em {
	@include selection($a-color,$bg-color);
}

h1 {
	font-size: calc(clamp(2.2rem, 1.45rem + 2.4vw, 2.8rem));
	min-height: 0vw;	
	text-shadow: 3px 3px 0 $drop-color;
  }
  

h2 {
	font-size: clamp(1.8rem, calc(1.8rem + ((1vw - 0.48rem) * 0.5556)), 2.2rem);
	min-height: 0vw;
}

h1,
h2,
h3,
h4 {
	font-family: $header-font;
	margin-bottom: 0em;
	@include selection($a-color,$bg-color);
}

.page-title {
	text-transform: uppercase;
}

.responsive-img {
	max-width: 100%;
	height: auto;
}

// Basic styling for the button
#back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: $bg-color;
	border: 1px solid $fg-color;
	color: $fg-color;	
	border-radius: 50%;
	width: 40px;
	height: 40px;
	font-size: 20px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.3s;
	z-index: 9999;
	opacity: 0;
	transition: opacity 0.3s ease;
  
	&:hover {
	  background-color: $fg-color;
	  color: $bg-color;	   
	}
 
  }
  