@media (max-width: 767px) {

	h1{
		text-align: center;
	}

	.hero {
		margin: 1rem 0rem;
		width: 100%;
		h2 {
			text-align: center;
		}
	}

	.container {
		padding: 2rem;
	}

	.nav {
		flex-direction: column;
		align-items: center;
		margin-top: 0.5em;

		ul {
			li {
				padding: 0 5px;
			}
		}
	}

	.light-mode-toggle {
		position: absolute;
		top: 20px;
		right: 15px;
		font-size: 18px;
	}

	.grid {
		display: block;		

		>* {
			padding: 1rem;
			margin-bottom: 1rem;
		}
	}

	#bio-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	#bio-pic {
		align-self: center;
		width: clamp(20em, calc(20rem + ((1vw - 0.48em) * 6.9444)), 25em);
		margin: 0rem 0 1rem 0;
	}

	.work {
		text-align: center;
	}

	.thumbnail, .right-img, .left-img {
	display: block;
	float: none;		
	max-width: 80vw;	
	margin: 0.5em;
}
}