.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 10px;
	margin-bottom: 0.5em;
	border-bottom: 1px solid $fg-color;

	ul {
		font-size: 1.1rem;
		text-transform: uppercase;
		list-style-type: none;
		padding-left: 0;
		display: flex;
		flex-wrap: wrap;

		li {
			padding: 0 10px;
		}
	}
}

.logo {
	background: var(--logo) center no-repeat;
	background-size: contain;
	width: 10rem;
	height: 5rem;
	text-align: center;
	filter: drop-shadow(0 0 40px $fg-color);

	&:hover {
		transition: all 0.2s ease-in;
		filter: drop-shadow(0 0 30px $fg-color);
	}
}

.light-mode-toggle {
	z-index: 100;
	margin: -5px 0 0 10px;
	color: $fg-color;
	border: 2px solid;
	padding: 4px;
	background: transparent;
	cursor: pointer;
	border-radius: 5px;
	width: 30px;
	height: 30px;
}