::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: $drop-color;
}

::-webkit-scrollbar-thumb {
    background-color: $fg-color;
    border-radius: 1ex;
    border: 3px solid $drop-color;
}

* {
    scrollbar-width: auto;
    scrollbar-color: $bg-color $fg-color;
}