$color_light: #f7f5fa;
$color_light_accent: #5a488b;
$color_light_drop: #9b95d4;
$color_dark: #1b1b3f;
$color_dark_accent: #afb0eb;
$color_dark_drop: #464691;
$body_font: "National Park";
$header_font: "Sunsive";
$logo_dark: url(/images/logos/logo_light.png);
$logo_light: url(/images/logos/logo_dark.png);

$bg-color: var(--color-background);
$fg-color: var(--color-foreground);
$a-color: var(--color-accent);
$drop-color: var(--color-drop);

:root {
	--color-background: #{$color_dark};
	--color-foreground: #{$color_light};
	--color-accent: #{$color_dark_accent};
	--logo: #{$logo_dark};
	--body-font: #{$body_font};
	--color-drop: #{$color_dark_drop};
}

.lightmode {
	--color-background: #{$color_light};
	--color-foreground: #{$color_dark};
	--color-accent: #{$color_light_accent};
	--logo: #{$logo_light};
	--color-drop: #{$color_light_drop};
}