$color_light: #ffc5fd;
$color_light_accent: #5C028D;
$color_light_drop: #d463ee;
$color_dark: #300f5b;
$color_dark_accent: #caa1ff;
$color_dark_drop: #c834d8;
$body_font: "National Park";
$header_font: "Sunsive";
$logo_dark: url(/images/logos/pink_logo_m.png);
$logo_light: url(/images/logos/blue_logo_m.png);

:root {
	--color-background: #{$color_dark};
	--color-foreground: #{$color_light};
	--color-accent: #{$color_dark_accent};
	--logo: #{$logo_dark};
	--body-font: #{$body_font};
	--color-drop: #{$color_dark_drop};
}

.lightmode {
	--color-background: #{$color_light};
	--color-foreground: #{$color_dark};
	--color-accent: #{$color_light_accent};
	--logo: #{$logo_light};
	--color-drop: #{$color_light_drop};
}