{{ define "main" }}
<h1 class="page-title">{{ .Title }}</h1>
<div class="work">
{{ .Content }}
<button class="filter-btn active" onclick="filterPosts('all', this)">All</button>
<button class="filter-btn" onclick="filterPosts('branding', this)">Branding</button>
<button class="filter-btn" onclick="filterPosts('productdesign', this)">Product Design</button>
<button class="filter-btn" onclick="filterPosts('webdesign', this)">Web Design</button>
<button class="filter-btn" onclick="filterPosts('webdevelopment', this)">Web Development</button>
</div>
<div class="grid">
  {{ range .Pages }}
  <div class="grid-item" data-categories="{{ range .Params.tags }}{{ . }} {{ end }}">
    <article>
      {{- $image := resources.Get .Params.featured_image -}} 
      <img class="card-img" src="{{ ($image).RelPermalink }}">
      <h3>{{ .Title }}</h3>
      {{- partial "taglist.html" . -}}
      <p>{{ .Summary }}</p>   
      <p class="readmore"><a href="{{ .Permalink }}">Read more <i class="fa-solid fa-arrow-right"></i> </a></p>
    </article>
  </div>
  {{ end }}
  
</div>
<script src="/js/filter-posts.js" ></script>
{{ end }}
