<footer class="footer" aria-label="footer">
    <p style="font-size:small;">© 2023 Jay Serrano</p>
    <ul>        
        <li><a href="https://www.linkedin.com/in/jay-serrano/"><i class="fa-brands fa-linkedin"></i></a></li>
        <li><a href="https://github.com/js044/"><i class="fa-brands fa-github"></i></a></li>
        <!-- <li><a href="https://www.behance.net/jay-serrano"><i class="fa-brands fa-behance"></i></a></li> -->
        <li><a href="mailto:jserrano.97@outlook.com"><i class="fa-solid fa-envelope"></i></a></li>        
    </ul>
</footer>