<head>
  {{ $style := resources.Get "/sass/main.scss" | toCSS | minify | fingerprint }}
  <link href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css" rel="stylesheet" >
  <link href="{{ $style.RelPermalink }}" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
  
  {{ $title := print .Site.Title " | " .Title }}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
  <title>{{ .Title }}</title>
  <meta charset="utf-8">
  <meta name="description" content="Jayleen's design portfolio." />
  <meta name="dc.relation" content="{{ .Site.BaseURL }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link id="favicon-link" rel="icon" href="/images/icons/lightmode-favicon.svg" sizes="any" type="image/svg+xml">

</head>