{{ $img := resources.Get (.Get "img-src") }}

{{ with $img }}
  {{ $resizedImage := .Resize "900x" }}
  {{ if $resizedImage }}
    {{ $lightboxID := $.Get "lightbox-id" }}
    {{ $altText := $.Get "alt" }}
    
    {{ $customClass := $.Get "img-class" }}
    {{ $finalClass := "responsive-img" }}
    {{ if $customClass }}
      {{ $finalClass = $customClass }}
    {{ end }}

    <a href="{{ .RelPermalink }}" data-lightbox="{{ $lightboxID }}"><img src="{{ $resizedImage.RelPermalink }}" class="{{ $finalClass }}" alt="{{ $altText }}"></a>

  {{ else }}
    <p>Error: Image couldn't be resized.</p>
  {{ end }}
{{ else }}
  <p>Error: Image not found.</p>
{{ end }}
